<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="d-flex page__box p-1 mt-0">
  <div class="parallel-div col-9">

  <div class="medical-container" *ngIf="!medicalReportVisible">
    <mat-form-field appearance="fill">
      <mat-label>Search by Employee ID</mat-label>
      <input matInput placeholder="Search by Employee ID" (input)="applyFilter($event)">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button [color]="selectedRow ? 'accent' : 'primary'" (click)="gotoReport()">Go to Action</button>
    </div>
    <div class="mat-table-container">

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="employee_medical_id">
          <mat-header-cell *matHeaderCellDef> Medical ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.employee_medical_id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="emp_id">
          <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.emp_id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="medical_report">
          <mat-header-cell *matHeaderCellDef> Medical Report File </mat-header-cell>
          <mat-cell *matCellDef="let element" style="background-color: #b9f3ef;">
            <a (click)="downloadMedicalReport(element.employee_medical_id)"><b>Click here</b></a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="submit_date">
          <mat-header-cell *matHeaderCellDef> Submit Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.submit_date | date }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="medical_status">
          <mat-header-cell *matHeaderCellDef> Action Status </mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="{
        'status-pending': element.medical_status === 'pending',
        'status-approved': element.medical_status === 'approved',
        'status-rejected': element.medical_status === 'rejected'}"> <b>{{ element.medical_status }}</b> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 [class.highlighted]="row === selectedRow"
                 (click)="selectRowmedicalPDF(row)"></mat-row>

      </mat-table>
    </div>
  </div>


    <div class="popup-container" *ngIf="medicalHistoryVisible">
      <div class="popup">
        <button mat-icon-button class="close-button2" (click)="closeMedicalReport()">
          <mat-icon>close</mat-icon>
        </button>
        <h2>Medical History Summary</h2>
        <table class="medical-summary-table">
          <tr>
            <td>Employee ID:</td>
            <td>{{ medicalHistorySummary?.empId }}</td>
          </tr>
          <tr>
            <td>Employee Name:</td>
            <td>{{ medicalHistorySummary?.employeeName }}</td>
          </tr>
          <tr>
            <td>Job Role:</td>
            <td>{{ medicalHistorySummary?.jobRole }}</td>
          </tr>
          <tr class="approved">
            <td>Approved Medicals:</td>
            <td>{{ medicalHistorySummary?.approvedCount }}</td>
          </tr>
          <tr class="rejected">
            <td>Rejected Medicals:</td>
            <td>{{ medicalHistorySummary?.rejectedCount }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="medi-container" *ngIf="medicalReportVisible">
      <button mat-raised-button class="form-buttons" color="warn" (click)="gotoReport()">Close</button>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="viewMedicaleHistory()">View Employee Medical History</button>
      </div>

      <form class="details-form">

        <div class="form-group">
          <label for="employee_medical_id">Employee ID:</label>
          <input type="text" id="employee_medical_id" [value]="selectedRow?.employee_medical_id" readonly>
        </div>

        <div class="form-group">
          <label for="emp_id">Employee ID:</label>
          <input type="text" id="emp_id" [value]="selectedRow?.emp_id" readonly>
        </div>

        <div class="form-group">
          <label for="submit-date">Report Submit Date:</label>
          <input type="text" id="submit-date" [value]="formattedDate" readonly>
        </div>
        <div class="form-group">
          <label for="medical-status">Current Status:</label>
          <input type="text" id="medical-status" [value]="selectedRow?.medical_status" readonly>
        </div>

        <div class="form-buttons">
          <button mat-raised-button color="accent" type="button" (click)="updateMedicalStatus('rejected')">Reject</button>
          <button mat-raised-button color="primary" type="button" (click)="updateMedicalStatus('approved')">Approve</button>
        </div>
      </form>
    </div>
  </div>
  <div class="left-div col-3 text-right" id="div3">
    <app-notificationcom></app-notificationcom>
  </div>
</div>
