<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="d-flex page__box p-1 mt-0">
  <div class="parallel-div col-9">

  <div class="medical-container" *ngIf="!medicalReportVisible">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="gotoReport()">View Medical Details</button>
    </div>
    <div class="mat-table-container">

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="employee_medical_id">
          <mat-header-cell *matHeaderCellDef> Medical ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.employee_medical_id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="emp_id">
          <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.emp_id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="medical_report">
          <mat-header-cell *matHeaderCellDef> Medical Report File </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.medical_report }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="submit_date">
          <mat-header-cell *matHeaderCellDef> Submit Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.submit_date | date }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="medical_status">
          <mat-header-cell *matHeaderCellDef> Action Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.medical_status }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 [class.highlighted]="row === selectedRow"
                 (click)="selectRowmedicalPDF(row)"></mat-row>

      </mat-table>
    </div>
  </div>
    <div class="medi-container" *ngIf="medicalReportVisible">
      <button mat-raised-button class="form-buttons" color="warn" (click)="gotoReport()">Close</button>

        <div class="form-buttons">
          <button mat-raised-button color="accent">Reject</button>
          <button mat-raised-button color="primary" type="submit">Approve</button>
        </div>

    </div>

  </div>
  <div class="left-div col-3 text-right" id="div3">
    <app-notificationcom></app-notificationcom>
  </div>
</div>
