<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card" id="cardid">
        <div class="card-header">
          <h5 class="card-title">Total Employee</h5>
        </div>
        <div class="card-body">
          <div class="demo-section">
            <i class="fas fa-home" style="color: red;"></i>
            <span class="badge badge-danger">15</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Total Employee</h5>
        </div>
        <div class="card-body">
          <div class="demo-section">
            <i class="fas fa-home" style="color: red;"></i>
            <span class="badge badge-danger">15</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
