<!-- Payroll Management Details Section -->
<div class="d-flex page__box p-1 mt-0">
  <div class="card" style="width:100%">
    <h3 class="m-3 text-center">MONTHLY SALARY</h3>
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="search-bar d-flex align-items-center">
        <b>Search details :</b>
        <div class="form-group">
          <input type="text" class="form-control" id="emp" name="empId" [(ngModel)]="employeeId" placeholder="Enter Employee ID" required (input)="filterByEmployeeId()">
        </div>
        &nbsp;
        <b>Select Month :</b>
        <div class="form-group ml-2">
          <input type="month" class="form-control" id="month" name="month" [(ngModel)]="selectedMonth" (change)="filterByEmployeeId()">
        </div>
      </div>
      <div class="btn-group">
        <a class="btn btn-primary" (click)="Back()">Back</a>
      </div>
    </div>
  </div>
  <div>
    <div class="card-body">
      <!-- Existing Table -->
      <div class="card-body">
        <table datatable class="table table-bordered">
          <thead class="bg-dark text-white">
          <tr>
            <th>Emp ID</th>
            <th>Salary Type</th>
            <th>Job Role</th>
            <th>Date</th>
            <th>Bonus Amount</th>
            <th>Allowance Amount</th>
            <th>Deduction Amount</th>
            <th>EPF</th>
            <th>ETF</th>
            <th>Loan Deduction</th>
            <th>Advance Deduction</th>
            <th>Gross Basic Salary</th>
            <th>Net Salary</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of advancedata | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{ item.emp_id }}</td>
            <td>{{ item.salary_type }}</td>
            <td>{{ item.job_role }}</td>
            <td>{{ item.date }}</td>
            <td>Rs {{ item.bonus_amount }}</td>
            <td>Rs {{ item.allowancess_amount }}</td>
            <td>Rs {{ item.deduction_amount }}</td>
            <td>Rs {{ item.epf }}</td>
            <td>Rs {{ item.etf }}</td>
            <td>Rs {{ item.loan_deduction }}</td>
            <td>Rs {{ item.advance_salary }}</td>
            <td>Rs {{ item.gross_basic_salary }}</td>
            <td>Rs {{ item.net_salary }}</td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</div>
