<div class="d-flex page__box p-1 mt-0">
  <div class="container">
    <h2 class="text-center">Employee Information Form</h2>
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="employeeId">Employee ID:</label>
            <input type="text" class="form-control" id="employeeId" name="employeeId" [(ngModel)]="employee.employeeid">
          </div>
          <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" name="address" [(ngModel)]="employee.address">
          </div>
          <div class="form-group">
            <label for="companyStatus">Company Status:</label>
            <select class="form-control" id="companyStatus" name="companyStatus" [(ngModel)]="employee.company_status">
              <option value="permanent">Permanent</option>
              <option value="temporary">Temporary</option>
            </select>
          </div>
          <div class="form-group">
            <label for="contact">Contact No:</label>
            <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="employee.contact">
          </div>
          <div class="form-group">
            <label for="maUma">Married or Not:</label>
            <select class="form-control" id="maUma" name="maUma" [(ngModel)]="employee.ma_uma">
              <option value="married">Married</option>
              <option value="unmarried">Unmarried</option>
            </select>
          </div>
          <div class="form-group">
            <label for="file">Choose File</label>
            <input type="file" id="file" name="file" (change)="onFileSelected($event)" />
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form enctype="multipart/form-data">
          <div class="form-group">
            <label for="dob">Date of Birth:</label>
            <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="employee.dob">
          </div>
          <div class="form-group">
            <label for="employeeName">Employee Name:</label>
            <input type="text" class="form-control" id="employeeName" name="employeeName" [(ngModel)]="employee.employee_name">
          </div>
          <div class="form-group">
            <label for="gender">Gender:</label>
            <select class="form-control" id="gender" name="gender" [(ngModel)]="employee.gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>

          <div class="form-group">
            <label for="jrole">Job Role:</label>
            <select id="jrole" [(ngModel)]="employee.job_role" name="job_role" class="form-control" required>
              <option value="" selected disabled>Select a role</option>
              <option value="Chairman">Chairman</option>
              <option value="Managing Director">Managing Director</option>
              <option value="Director">Director</option>
              <option value="Accountant">Accountant</option>
              <option value="Finance Manager">Finance Manager</option>
              <option value="Finance Executive">Finance Executive</option>
              <option value="Head of Marketing">Head of Marketing</option>
              <option value="National Sales Manager">National Sales Manager</option>
              <option value="Regional Manager">Regional Manager</option>
              <option value="Senior Marketing Executive">Senior Marketing Executive</option>
              <option value="Area Manager">Area Manager</option>
              <option value="Marketing Executive">Marketing Executive</option>
              <option value="Sales Representative">Sales Representative</option>
              <option value="Outlet Cashier">Outlet Cashier</option>
              <option value="HR Manager">HR Manager</option>
              <option value="HR Executive">HR Executive</option>
              <option value="Head of QA">Head of QA</option>
              <option value="QA Manager">QA Manager</option>
              <option value="QA Executive">QA Executive</option>
              <option value="Head of Production">Head of Production</option>
              <option value="Production Manager">Production Manager</option>
              <option value="Operation Manager">Operation Manager</option>
              <option value="Production Supervisor">Production Supervisor</option>
              <option value="Machine Operator">Machine Operator</option>
              <option value="Production Assistant">Production Assistant</option>
              <option value="Head of Maintenance">Head of Maintenance</option>
              <option value="Technician">Technician</option>
              <option value="Electrician">Electrician</option>
              <option value="Assistant">Assistant</option>
              <option value="Head of Stores">Head of Stores</option>
              <option value="Storekeeper">Storekeeper</option>
              <option value="Store Assistant">Store Assistant</option>
              <option value="Transport Manager">Transport Manager</option>
              <option value="Drivers">Drivers</option>
              <option value="Helpers">Helpers</option>
              <option value="Head of Security">Head of Security</option>
              <option value="Security Officer">Security Officer</option>
            </select>
          </div>


          <div class="form-group">
            <label for="salaryType">Salary Type:</label>
            <select class="form-control" id="salaryType" name="salaryType" [(ngModel)]="employee.salary_type">
              <option value="hourly">Hourly</option>
              <option value="monthly">Monthly</option>
              <option value="annual">Annual</option>
            </select>
          </div>
          <div class="form-group">
            <label for="departmentId">Department ID:</label>
            <input type="text" class="form-control" id="departmentId" name="departmentId" [(ngModel)]="employee.dep_id">
          </div>
          <div class="form-group">
            <label for="sectionId">Section ID:</label>
            <input type="text" class="form-control" id="sectionId" name="sectionId" [(ngModel)]="employee.sec_id" style="margin-bottom: 20px;">
          </div>
          <button type="button" class="btn btn-primary" (click)="submitData()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
