<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">

    <div *ngIf="!isvisibleAction">
      <div class="search-container">
        <mat-form-field appearance="fill">
          <mat-label>Search By Employee ID</mat-label>
          <input matInput placeholder="Search by Employee ID" (input)="applyFilter($event)">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-flat-button [color]="selectedRow ? 'accent' : 'primary'" (click)="gotoView()">Check Details</button>
        <button mat-flat-button [color]="selectedRow ? 'accent' : 'primary'" (click)="getEmployeeCVbyID()">CV Details</button>
        <button mat-flat-button color="primary">Update Details</button>
      </div>

      <div class="mat-table-container">
        <mat-table [dataSource]="JobPromotionUpdate" class="mat-elevation-z8">


          <ng-container matColumnDef="employee_id">
            <mat-header-cell *matHeaderCellDef>  Employee ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.employee_id}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="job_role">
            <mat-header-cell *matHeaderCellDef>  Job Role </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.job_role }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="salary_type">
            <mat-header-cell *matHeaderCellDef> Salary Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.salary_type }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="employee_name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.employee_name }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="company_status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.company_status}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef> Department  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.department}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sec_id">
            <mat-header-cell *matHeaderCellDef> Section  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.sec_id}} </mat-cell>
          </ng-container>


          <!-- Row Definitions -->
          <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [class.highlighted]="row === selectedRow" (click)="selectRow(row)"></mat-row>
        </mat-table>
      </div>

    </div>

      <div *ngIf="isvisibleAction">



        <div *ngIf="selectedRow" class="form-container2">

          <div class="button-container2">
            <button mat-flat-button [color]="Leaves ? 'accent' : 'primary'" (click)="showDivLeaves()">Leaves</button>
            <button mat-flat-button [color]="Medicals ? 'accent' : 'primary'" (click)="showDivMedicals()">Medicals</button>
            <button mat-flat-button [color]="Gate ? 'accent' : 'primary'" (click)="showDivGate()">Gate Passes</button>
            <button mat-flat-button [color]="Attendance ? 'accent' : 'primary'" (click)="showDivAttendance()">Attendance</button>

            <button mat-icon-button class="close-button2" (click)="gotoView()">
              <mat-icon>close</mat-icon>
            </button>
          </div>


          <form [formGroup]="form" class="employee-form">
            <table class="form-table">
              <tr>
                <td rowspan="4">
                  <img [src]="getEmployeeImage(selectedRow.gender)" alt="Employee Image" class="employee-image">
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Employee ID :</b></label>
                  <input type="text" formControlName="employee_id" id="employee_id" readonly>
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Job Role :</b></label>
                  <input type="text" formControlName="job_role" readonly>
                </td>
              </tr>
              <tr>
                <td class="form-group custom-form-field">
                  <label><b>Salary Type :</b></label>
                  <input type="text" formControlName="salary_type" readonly>
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Employee Name :</b></label>
                  <input type="text" formControlName="employee_name" readonly>
                </td>
              </tr>
              <tr>
                <td class="form-group custom-form-field">
                  <label><b>Company Status :</b></label>
                  <input type="text" formControlName="company_status" readonly>
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Department :</b></label>
                  <input type="text" formControlName="department" readonly>
                </td>
              </tr>
              <tr>
                <td class="form-group custom-form-field">
                  <label><b>Section ID :</b></label>
                  <input type="text" formControlName="sec_id" readonly>
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Gender :</b></label>
                  <input type="text" formControlName="gender" readonly>
                </td>
              </tr>

              <tr>

                <td class="form-group">
                  <label style="font-size: 15px;color: black"> <b>Select Month and Year</b> </label>
                </td>
                <td colspan="2">
                  <div class="flex-container">
                      <div>
                        <select id="selectedMonth">
                          <option selected>Month</option>
                          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                        </select>
                      </div>
                      <div>
                        <select id="selectedYear">
                          <option selected>Year</option>
                          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                        </select>
                      </div>
                      <button mat-flat-button color="primary" (click)="searchDetails()">Search</button>
                  </div>

                </td>

              </tr>

            </table>
          </form>
        </div>

          <div class="chart-container-leave" *ngIf="Leaves">
            leave
          </div>

          <div class="chart-container-medical" *ngIf="Medicals">
            medical
          </div>

          <div class="chart-container-gatepass" *ngIf="Gate">
            gatepass
          </div>

          <div class="chart-container-attendance" *ngIf="Attendance">

            <div style="margin-top: 30px;margin-left: 50px">

              <div class="totals">
                <p> | Total Presents : {{ totalPresents }}  | Total Absents : {{ totalAbsents }}  | Total Late : {{ totalLates }} |</p>
              </div>
              <div id="chartContainer" style="height: 300px; width: 90%;"></div>
            </div>
          </div>

      </div>

    </div>
  <div class="left-div col-3 text-right" id="div3">
    <app-notificationcom></app-notificationcom>
  </div>
</div>
