<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">

    <div *ngIf="!isvisibleAction && !isvisibleUpdate">
      <div class="search-container">
        <mat-form-field appearance="fill">
          <mat-label>Search By Employee ID</mat-label>
          <input matInput placeholder="Search by Employee ID" (input)="applyFilter($event)">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-flat-button [color]="selectedRow ? 'accent' : 'primary'" (click)="gotoView()">Check Details</button>
        <button mat-flat-button [color]="selectedRow ? 'accent' : 'primary'" (click)="getEmployeeCVbyID()">CV Details</button>
        <button mat-flat-button [color]="selectedRow ? 'accent' : 'primary'" (click)="goToUpdate()">Update Details</button>
      </div>

      <div class="mat-table-container">
        <mat-table [dataSource]="JobPromotionUpdate" class="mat-elevation-z8">


          <ng-container matColumnDef="employee_id">
            <mat-header-cell *matHeaderCellDef>  Employee ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.employee_id}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="job_role">
            <mat-header-cell *matHeaderCellDef>  Job Role </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.job_role }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="salary_type">
            <mat-header-cell *matHeaderCellDef> Salary Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.salary_type }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="employee_name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.employee_name }} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="company_status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.company_status}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef> Department  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.department}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sec_id">
            <mat-header-cell *matHeaderCellDef> Section  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.sec_id}} </mat-cell>
          </ng-container>


          <!-- Row Definitions -->
          <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [class.highlighted]="row === selectedRow" (click)="selectRow(row)"></mat-row>
        </mat-table>
      </div>

    </div>

      <div *ngIf="isvisibleAction">



        <div *ngIf="selectedRow" class="form-container2">

          <div class="button-container2">
            <button mat-flat-button [color]="Leaves ? 'accent' : 'primary'" (click)="showDivLeaves()">Leaves</button>
            <button mat-flat-button [color]="Medicals ? 'accent' : 'primary'" (click)="showDivMedicals()">Medicals</button>
            <button mat-flat-button [color]="Gate ? 'accent' : 'primary'" (click)="showDivGate()">Gate Passes</button>
            <button mat-flat-button [color]="Attendance ? 'accent' : 'primary'" (click)="showDivAttendance()">Attendance</button>

            <button mat-icon-button class="close-button2" (click)="gotoView()">
              <mat-icon>close</mat-icon>
            </button>
          </div>


          <form [formGroup]="form" class="employee-form">
            <table class="form-table">
              <tr>
                <td rowspan="4">
                  <img [src]="getEmployeeImage(selectedRow.gender)" alt="Employee Image" class="employee-image">
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Employee ID :</b></label>
                  <input type="text" formControlName="employee_id" id="employee_id" readonly>
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Job Role :</b></label>
                  <input type="text" formControlName="job_role" readonly>
                </td>
              </tr>
              <tr>
                <td class="form-group custom-form-field">
                  <label><b>Salary Type :</b></label>
                  <input type="text" formControlName="salary_type" readonly>
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Employee Name :</b></label>
                  <input type="text" formControlName="employee_name" readonly>
                </td>
              </tr>
              <tr>
                <td class="form-group custom-form-field">
                  <label><b>Company Status :</b></label>
                  <input type="text" formControlName="company_status" readonly>
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Department :</b></label>
                  <input type="text" formControlName="department" readonly>
                </td>
              </tr>
              <tr>
                <td class="form-group custom-form-field">
                  <label><b>Section ID :</b></label>
                  <input type="text" formControlName="sec_id" readonly>
                </td>
                <td class="form-group custom-form-field">
                  <label><b>Gender :</b></label>
                  <input type="text" formControlName="gender" readonly>
                </td>
              </tr>

              <tr>

                <td class="form-group">
                  <label style="font-size: 15px;color: black"> <b>Select Month and Year</b> </label>
                </td>
                <td colspan="2">
                  <div class="flex-container">
                      <div>
                        <select id="selectedMonth">
                          <option selected>Month</option>
                          <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                        </select>
                      </div>
                      <div>
                        <select id="selectedYear">
                          <option selected>Year</option>
                          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                        </select>
                      </div>
                      <button mat-flat-button color="primary" (click)="searchDetails()">Search</button>
                  </div>

                </td>

              </tr>

            </table>
          </form>
        </div>

          <div class="chart-container-leave" *ngIf="Leaves">

            <div style="margin-top: 30px;margin-left: 50px">

              <div class="totals">
                <p> | Approved Leaves : {{ approved }}  | Rejected Leaves : {{ rejected }} |</p>
              </div>

              <div style="margin-top: 30px;">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let leave of leaveDetails | paginate: { itemsPerPage: 5, currentPage: page }">
                    <td>{{ leave.starDate}}</td>
                    <td>{{ leave.endDate}}</td>
                    <td [ngClass]="{'approved-status': leave.status === 'approved', 'rejected-status': leave.status === 'rejected'}">
                      {{ leave.status }}
                  </tr>
                  </tbody>
                </table>

                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

              </div>

            </div>

          </div>

          <div class="chart-container-medical" *ngIf="Medicals">

            <div style="margin-top: 30px;margin-left: 50px">

              <div class="totals">
                <p> | Approved Medicals : {{ approved }}  | Rejected Medicals : {{ rejected }} |</p>
              </div>

              <div id="chartContainerMedical" style="height: 300px; width: 90%;margin-top: 30px;"></div>
            </div>

          </div>

          <div class="chart-container-gatepass" *ngIf="Gate">

            <div style="margin-top: 30px;margin-left: 50px">

              <div class="totals">
                <p> | Approved GatePasses : {{ approved }}  | Rejected GatePasses : {{ rejected }} |</p>
              </div>


              <div id="chartContainerGatePass" style="height: 300px; width: 90%;margin-top: 30px;"></div>
            </div>

          </div>

          <div class="chart-container-attendance" *ngIf="Attendance">

            <div style="margin-top: 30px;margin-left: 50px">

              <div class="totals">
                <p> | Total Presents : {{ totalPresents }}  | Total Absents : {{ totalAbsents }}  | Total Late : {{ totalLates }} |</p>
              </div>
              <div id="chartContainerAttendance" style="height: 300px; width: 90%;"></div>
            </div>
          </div>

      </div>

      <div *ngIf="isvisibleUpdate" class="production-forms-details-container">

        <button mat-raised-button class="form-buttons" color="warn" (click)="goToBack()">Close</button>

        <form class="details-form">

          <div class="form-row">
            <label for="employee_idUpdate">Employee ID :</label>
            <input type="text" id="employee_idUpdate" [value]="selectedRow?.employee_id" readonly>
          </div>

          <div class="form-row">
            <label for="department">Department :</label>
            <input type="text" id="department" [value]="selectedRow?.department" readonly>
          </div>

          <div class="form-row">
            <label for="sec_id">Section :</label>
            <input type="text" id="sec_id" [value]="selectedRow?.sec_id" readonly>
          </div>

          <div class="form-row">
            <label for="employee_name">Name :</label>
            <input type="text" id="employee_name" [value]="selectedRow?.employee_name" readonly>
          </div>

          <div class="form-row">
            <label for="company_status">Current Status:</label>
            <select class="form-control" id="company_status" name="company_status" [value]="selectedRow?.company_status">
              <option value="permanent">Permanent</option>
              <option value="temporary">Temporary</option>
            </select>
          </div>

          <div class="form-row">
            <label for="job_role">Job Role:</label>
            <select id="job_role" [value]="selectedRow?.job_role" name="job_role" class="form-control" required>
              <option value="" selected disabled>Select a role</option>
              <option value="Chairman">Chairman</option>
              <option value="Managing Director">Managing Director</option>
              <option value="Director">Director</option>
              <option value="Accountant">Accountant</option>
              <option value="Finance Manager">Finance Manager</option>
              <option value="Finance Executive">Finance Executive</option>
              <option value="Head of Marketing">Head of Marketing</option>
              <option value="National Sales Manager">National Sales Manager</option>
              <option value="Regional Manager">Regional Manager</option>
              <option value="Senior Marketing Executive">Senior Marketing Executive</option>
              <option value="Area Manager">Area Manager</option>
              <option value="Marketing Executive">Marketing Executive</option>
              <option value="Sales Representative">Sales Representative</option>
              <option value="Outlet Cashier">Outlet Cashier</option>
              <option value="HR Manager">HR Manager</option>
              <option value="HR Executive">HR Executive</option>
              <option value="Head of QA">Head of QA</option>
              <option value="QA Manager">QA Manager</option>
              <option value="QA Executive">QA Executive</option>
              <option value="Head of Production">Head of Production</option>
              <option value="Production Manager">Production Manager</option>
              <option value="Operation Manager">Operation Manager</option>
              <option value="Production Supervisor">Production Supervisor</option>
              <option value="Machine Operator">Machine Operator</option>
              <option value="Production Assistant">Production Assistant</option>
              <option value="Head of Maintenance">Head of Maintenance</option>
              <option value="Technician">Technician</option>
              <option value="Electrician">Electrician</option>
              <option value="Assistant">Assistant</option>
              <option value="Head of Stores">Head of Stores</option>
              <option value="Storekeeper">Storekeeper</option>
              <option value="Store Assistant">Store Assistant</option>
              <option value="Transport Manager">Transport Manager</option>
              <option value="Drivers">Drivers</option>
              <option value="Helpers">Helpers</option>
              <option value="Head of Security">Head of Security</option>
              <option value="Security Officer">Security Officer</option>
            </select>
          </div>

          <div class="form-row">
            <label for="salary_type">Salary Type:</label>
            <select id="salary_type" name="salary_type" [value]="selectedRow?.salary_type">
              <option value="Production">Production</option>
              <option value="Store">Stores</option>
              <option value="Office staff">Office staff</option>
            </select>
          </div>

          <div class="form-buttons">
            <button mat-raised-button color="primary" type="button" (click)="updateEmployeePosition()">Update</button>
          </div>
        </form>
      </div>

    </div>
  <div class="left-div col-3 text-right" id="div3">
    <app-notificationcom></app-notificationcom>
  </div>
</div>
