
<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">

      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search...">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8"><br><br>

        <ng-container matColumnDef="employeeId">
          <th mat-header-cell *matHeaderCellDef> Employee ID </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
        </ng-container>

        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef> Employee Name </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
        </ng-container>

<!--        <ng-container matColumnDef="age">-->
<!--          <th mat-header-cell *matHeaderCellDef> Age </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.age}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="address">-->
<!--          <th mat-header-cell *matHeaderCellDef> Address </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.address}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="dateofbirth">-->
<!--          <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.dateofbirth}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="gender">-->
<!--          <th mat-header-cell *matHeaderCellDef> Gender </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="contactno">-->
<!--          <th mat-header-cell *matHeaderCellDef> Contact No </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.contactno}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="marriedOrunmarried">-->
<!--          <th mat-header-cell *matHeaderCellDef> Married Or Unmarried </th>-->
<!--          <td mat-cell *matCellDef="let element"> {{element.marriedOrunmarried}} </td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef> Department </th>
          <td mat-cell *matCellDef="let element"> {{element.department}} </td>
        </ng-container>

        <ng-container matColumnDef="section">
          <th mat-header-cell *matHeaderCellDef> Section </th>
          <td mat-cell *matCellDef="let element"> {{element.section}} </td>
        </ng-container>

        <ng-container matColumnDef="occupation">
          <th mat-header-cell *matHeaderCellDef> Occupation </th>
          <td mat-cell *matCellDef="let element"> {{element.occupation}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToUpdateForm(row.employeeId)"></tr>
      </mat-table>
      <br>

<!--        <mat-paginator [pageSizeOptions]="[5, 10, 20]"-->
<!--                       showFirstLastButtons-->
<!--                       aria-label="Select page of periodic elements">-->
<!--        </mat-paginator>-->

<!--    <mat-divider></mat-divider>-->
  </div>
  <div class="left-div col-3 text-right" id="div3">
    Div
  </div>
</div>

