mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;

}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #51b9c0;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 65px 30px 75px 100px;

}

