<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="text1">HR MANAGER</div>
    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
            <button mat-icon-button><mat-icon>mail</mat-icon></button>
            <button mat-icon-button><mat-icon>sms</mat-icon></button>
            <button mat-icon-button><mat-icon>
              <span class="material-symbols-outlined">notifications
              </span></mat-icon></button>

            <img src="./assets/images/user.jpg" alt="" class="user-image mr-1 p-2" />

        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
