
<mat-nav-list>
  <div class="logo py-0">
    <img src="../../../assets/images/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 class="mt-2">Applications</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./hrmdashboard']">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./']">
    <mat-icon>person_add</mat-icon> Update Employee
  </a>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./']">
    <mat-icon>format_list_bulleted</mat-icon>  Leave & Medical  </a>


  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./emp-details']">
    <mat-icon>summarize</mat-icon> Employee Details
  </a>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./medical-approve']">
    <mat-icon>note_add</mat-icon> Medical Approval
  </a>


  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./']">
    <mat-icon>fact_check</mat-icon> Employee Attendance
  </a>


  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./manage-user']">
    <mat-icon>transfer_within_a_station</mat-icon> Manage Users
  </a>


  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./leave-approve']">
    <mat-icon>task</mat-icon> Leave Approval
  </a>


  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./esc']">
    <mat-icon>currency_exchange</mat-icon> Employee Salary
  </a>



  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./']">
    <mat-icon>manage_accounts</mat-icon> Manage Accounts
  </a>

  <button md-button class="link-btn" (click)="logout()" ><mat-icon>logout</mat-icon>Logout</button>
</mat-nav-list>
