
<mat-nav-list>
  <div class="logo py-0">
    <img src="../../../assets/images/logo.png" alt="Company Logo" />
  </div>
  <!--  <mat-divider></mat-divider>-->
  <h2 class="mt-2">HR MANAGER</h2>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./hrmdashboard']">
    <mat-icon>dashboard</mat-icon><b class="manu"> Dashboard </b>
  </a>
  <a mat-list-item>
    <mat-icon>summarize</mat-icon><b class="manu"> Employee Details  </b>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./hrmupdateemployeedetails']">
    <mat-icon>person_add</mat-icon><b class="manu">  Update Employee </b>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./hrmattendance']">
    <mat-icon>fact_check</mat-icon><b class="manu"> Employee Attendance </b>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./hrmleaveandmedical']">
    <mat-icon>format_list_bulleted</mat-icon><b class="manu"> Leave & Medical Details </b>
  </a>
  <a mat-list-item> <mat-icon>task</mat-icon><b class="manu"> Leave Approval </b> </a>
  <a mat-list-item> <mat-icon>note_add</mat-icon><b class="manu"> Medical Approval </b></a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./esc']">
    <mat-icon>currency_exchange</mat-icon> Employee Salary
  </a>
  <a mat-list-item> <mat-icon>transfer_within_a_station</mat-icon><b class="manu"> Manage System Users </b> </a>
  <a mat-list-item> <mat-icon>manage_accounts</mat-icon><b class="manu">  Manage User Accounts </b> </a>

    <button md-button class="link-btn" (click)="logout()" ><mat-icon>logout</mat-icon>Logout</button>




</mat-nav-list>
