<mat-nav-list>
  <div class="logo py-0">
    <img src="../../../assets/images/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 class="mt-2">HR Officer</h2>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./dashboard']">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./add-employee']">
    <mat-icon>person_add</mat-icon> Add New Employee
  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./viewemployee']"> <mat-icon>person_search</mat-icon> View Employees  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./employeemedical']"> <mat-icon>summarize</mat-icon> Medical Reports  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./addattendance']"> <mat-icon>fact_check</mat-icon>  Employee Attendance</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./employeeleave']"> <mat-icon>transfer_within_a_station</mat-icon> Employee Leave </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./addadvance']"> <mat-icon>person_search</mat-icon> Salary advance  </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./generetesalary']"> <mat-icon>currency_exchange</mat-icon> Employee Salary</a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./manageacount']"> <mat-icon>manage_accounts</mat-icon> Manage Accounts </a>
  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./mailboxNavigate']">
    <mat-icon>mail</mat-icon> Mail</a>

  <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['./chatboxNavigate']">
    <mat-icon>chat</mat-icon>Message</a>
  <button md-button class="link-btn" (click)="logout()" ><mat-icon>logout</mat-icon>Logout</button>
</mat-nav-list>
