
<div class="container">
  <div class="row justify-content-center mt-1">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>SIGN UP</span>
          <button type="button" (click)="cancelPage()" class="btn btn-outline-danger" id="cancelButton">Cancel</button>
        </div>

        <div class="card-body">
          <form>

            <div class="form-group">
              <label for="username">Employee ID:</label>
              <input type="text" id="Employee ID" name="emp_ID" [(ngModel)]="emp_ID" class="form-control" placeholder="Employee id">
            </div>

            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="Username" name="username" [(ngModel)]="username" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <div class="input-group">
                <input type="{{ showPassword ? 'text' : 'password' }}" id="Password"  name="password" [(ngModel)]="password" class="form-control" placeholder="Password" >
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="sbutten" (click)="togglePasswordVisibility()" >
                    {{ showPassword ? 'Hide' : 'Show' }}
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="username">Email:</label>
              <input type="text" id="Email" name="email" [(ngModel)]="email" class="form-control" placeholder="Email" >
            </div>
            <div class="form-group">
              <label for="username">Contact No:</label>
              <input type="text" id="Contact_No" name="tpno" [(ngModel)]="tpno" class="form-control" placeholder="Contact No" maxlength="10">
            </div>
            <div class="form-group">
              <label for="role">Role:</label>
              <select id="Role" [(ngModel)]="role" name="role" class="form-control" required>
                <option value="" selected disabled>Select a role</option>
                <option value="HR_Manager">HR_Manager</option>
                <option value="Accountant">Accountant</option>
                <option value="Production_Manager">Production_Manager</option>
                <option value="Store_Keeper">Store_Keeper</option>
              </select>
            </div>

            <div class="form-group d-flex justify-content-center">
              <button type="submit" (click)="clearData()" class="btn btn-secondary" id="clearButton">Clear</button>
              <button type="submit" (click)="submitData()" class="btn btn-primary">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
