body {
  font-family: Arial, sans-serif;
}

.page__box {
  background-color: #ffffff;
  height: 700px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #495057;
}

.parallel-div {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1%;
}

.custom-div {
  width: 100%;
  margin-bottom: 1px;
}


#div3 {
  margin-left: 2px;
  background-color: #d2d2d2;
  border: 2px solid #d2d2d2;
  border-radius: 2%;
}


@media (max-width: 992px) {
  .parallel-div {
    flex-direction: column;
  }
  .custom-div,
  .left-div {
    width: 100%;
  }

  #div2 {
    height: 480px;
    padding-bottom: 485px;
  }
}

@media (max-width: 768px) {
  .left-div {
    height: 100%;
  }

  #div2 {
    height: 480px;
  }
}

@media (max-width: 480px) {
  .page__box {
    height: auto;
  }

  #div1,
  #div2,
  #div3 {
    height: auto;
  }
}



body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 8px;
}

.agent-management-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #f2f2f2;
}

/* Toolbar styles */
mat-toolbar {
  justify-content: start;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
}

.mat-form-field {
  margin-right: 8px;
  width: auto;
}

.mat-icon-button {
  margin-left: -48px;
}

/* Button styles */
button {
  margin: 0 8px;
  border-radius: 4px;
}

.mat-table-container {

  max-height: 450px;
  overflow-y: scroll;

}

.mat-header-row {
  min-width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #51b9c0;
  font-weight: bold;
}

.mat-table {
  display: block;
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
  min-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-table-container {
  min-width: 450px;
}

/* Responsive design adjustments */
@media (max-width: 992px) {
  .agent-management-container {
    padding: 10px;
  }

  .mat-form-field {
    width: 100%;
    margin-top: 8px;
  }

  button {
    width: 100%;
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  .agent-management-container {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  mat-toolbar {
    flex-direction: column;
    align-items: flex-start;
  }
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin: 16px 0;
  gap: 8px;
  width: 700px;
}

.search-container{
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  margin: 16px 0;
  gap: 8px;
  width:100%;
}
.chartContainer{
  margin-top: 120px;
}

.agentDetails-view table {
  width: 100%;
  border-collapse: collapse;
}

.agentDetails-view td {
  padding: 5px;
  border: none
}

.agentDetails-view td:first-child {
  width: 150px;
  font-weight: bold;
}

.details-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  flex-basis: 150px;
  margin-right: 10px;
  text-align: left;
}

.form-row input,
.form-row select {
  flex-grow: 1;
}

.form-buttons {
  margin-top: 20px;
  text-align: center;
}

.highlighted{
  background-color: #ccdff5;
}

.selectMonth {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: -150px;
  margin-left: 450px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.selectMonth p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.selectMonth select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.selectMonth select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgb(255, 255, 255);
}

.selectMonth option {
  padding: 10px;
}

.search-button {
  height: 45px;
  align-self: flex-end;
}
.total-purchase-wrapper {
 margin-left: 500px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
