<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="d-flex page__box p-1 mt-0">
  <div class="parallel-div col-9">

    <div class="medical-container" *ngIf="!leaveReportVisible">
      <mat-form-field appearance="fill">
        <mat-label>Search by Employee ID</mat-label>
        <input matInput placeholder="Search by Employee ID" (input)="applyFilter($event)">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button [color]="selectedRow ? 'accent' : 'primary'" (click)="gotoReport()">View Leave Report Details</button>
        <button mat-raised-button color="primary">Gate Pass Requests</button>
      </div>
      <div class="mat-table-container">

        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="employee_leave_id">
            <mat-header-cell *matHeaderCellDef> Leave ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.employee_leave_id }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="emp_id">
            <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.emp_id }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leave_type">
            <mat-header-cell *matHeaderCellDef> Leave Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.leave_type }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="reson">
            <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.reson }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="start_time">
            <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.start_time }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="end_time">
            <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.end_time }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{
        'status-pending': element.status === 'pending',
        'status-approved': element.status === 'approved',
        'status-rejected': element.status === 'rejected'}"> <b>{{ element.status }}</b> </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   [class.highlighted]="row === selectedRow"
                   (click)="selectRowleavePDF(row)"></mat-row>

        </mat-table>
      </div>
    </div>

    <div class="popup-container" *ngIf="leaveHistoryVisible">
      <div class="popup">
        <button mat-icon-button class="close-button2" (click)="closeLeaveReport()">
          <mat-icon>close</mat-icon>
        </button>
        <h2>Leave History Summary</h2>
        <table class="leave-summary-table">
          <tr>
            <td>Employee ID:</td>
            <td>{{ leaveHistorySummary?.empId }}</td>
          </tr>
          <tr>
            <td>Employee Name:</td>
            <td>{{ leaveHistorySummary?.employeeName }}</td>
          </tr>
          <tr>
            <td>Job Role:</td>
            <td>{{ leaveHistorySummary?.jobRole }}</td>
          </tr>
          <tr class="approved">
            <td>Approved Leaves:</td>
            <td>{{ leaveHistorySummary?.approvedCount }}</td>
          </tr>
          <tr class="rejected">
            <td>Rejected Leaves:</td>
            <td>{{ leaveHistorySummary?.rejectedCount }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="medi-container" *ngIf="leaveReportVisible">
      <button mat-raised-button class="form-buttons" color="warn" (click)="gotoReport()">Close</button>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="viewLeaveHistory()">View Employee Leave History</button>
      </div>

      <form class="details-form">

        <div class="form-group">
          <label for="emp_id">Employee ID:</label>
          <input type="text" id="emp_id" [value]="selectedRow?.emp_id" readonly>
        </div>
        <div class="form-group">
          <label for="leave_type">Leave Type:</label>
          <input type="text" id="leave_type" [value]="selectedRow?.leave_type" readonly>
        </div>
        <div class="form-group">
          <label for="reson">Reason:</label>
          <input type="text" id="reson" [value]="selectedRow?.reson" readonly>
        </div>
        <div class="form-group">
          <label for="start_time">Start Time:</label>
          <input type="text" id="start_time" [value]="selectedRow?.start_time" readonly>
        </div>
        <div class="form-group">
          <label for="end_time">End Time:</label>
          <input type="text" id="end_time" [value]="selectedRow?.end_time" readonly>
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" id="status" [value]="selectedRow?.status" readonly>
        </div>
        <div class="form-buttons">
          <button mat-raised-button color="accent" type="button" (click)="updateMedicalStatus('rejected')">Reject</button>
          <button mat-raised-button color="primary" type="button" (click)="updateMedicalStatus('approved')">Approve</button>
        </div>
      </form>
    </div>
  </div>

  <div class="left-div col-3 text-right" id="div3">
    <app-notificationcom></app-notificationcom>
  </div>
</div>
