body {
  font-family: Arial, sans-serif;
}

.page__box {
  background-color: #ffffff;
  height: 800px;
  border-radius: 1px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #495057;
}

.parallel-div {
  display: flex;
  flex-direction: column;
  background-color: #f1eded;
  border-radius: 1px;
}

.custom-div {
  width: 100%;
  margin-bottom: 2px;
}

#div1 {
  height: 790px;
  background-color: #e8e0e0;
}

#div3 {
  margin-left: 3px;
  background-color: #cfcdcd;
  border-radius: 2%;
}

/* Media queries */

@media (max-width: 1000px) {
  .parallel-div {
    flex-direction: column;
  }

  .custom-div,
  .left-div {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .employee-profile-form {
    width: 80%; /* Adjust the width for medium-sized screens */
  }
}

@media (max-width: 576px) {
  .employee-profile-form {
    width: 90%; /* Adjust the width for smaller screens */
  }
}

@media (max-width: 400px) {
  .page__box {
    height: auto;
  }

  #div1{
    height: auto;
    color: black;
  }

  #div3 {
    height: auto;

  }
}

.form-actions {
  display: flex;
  flex-direction: column;
  padding: 16px;

  width: 100%;
  height: 100%;
}
.button-container{
  display:flex;
  justify-content: center;

  margin: 250px 0;
  gap: 40px;
  width: 400px;
}
.reject-button {
  margin-left: 5px;
}

.search-option{
  margin-top: 20px;
  border-radius: 1px;
  width: 800px;

}
.mat-form-field{
  width: 100%;
}

.mat-header-row {
  min-width: 100%;

  top: 0;
  z-index: 10;
  background: #51b9c0; /* Or whatever your table header background color is */
  font-weight:bold;
}
.mat-raised-button{
  margin:15px 0;
}
/* Change background color of table rows on hover */



