<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="d-flex page__box p-1 mt-0">
  <div class="parallel-div col-9">

    <div class="medical-container" *ngIf="!leaveReportVisible">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="gotoReport()">View Leave Report Details</button>
      </div>
      <div class="mat-table-container">

        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="employee_leave_id">
            <mat-header-cell *matHeaderCellDef> Leave ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.employee_leave_id }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="emp_id">
            <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.emp_id }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="leave_type">
            <mat-header-cell *matHeaderCellDef> Leave Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.leave_type }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="reson">
            <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.reson }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="start_time">
            <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.start_time }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="end_time">
            <mat-header-cell *matHeaderCellDef> End Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.end_time }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   [class.highlighted]="row === selectedRow"
                   (click)="selectRowleavePDF(row)"></mat-row>

        </mat-table>
      </div>
    </div>
    <div class="medi-container" *ngIf="leaveReportVisible">
      <button mat-raised-button class="form-buttons" color="warn" (click)="gotoReport()">Close</button>

      <div class="form-buttons">
        <button mat-raised-button color="accent">Reject</button>
        <button mat-raised-button color="primary" type="submit">Approve</button>
      </div>

    </div>

  </div>
  <div class="left-div col-3 text-right" id="div3">
    <app-notificationcom></app-notificationcom>
  </div>
</div>
