.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width: 150px;
  }
}

.mat-icon{
  vertical-align: center;
  margin-right: 1rem;
}

.mt-2{
  vertical-align: center;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 7px;
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
  margin-top: 0px;
}

.mat-list-item {
  color: #94a3b8 ;
  font-size: 0.8rem;
  height: 44px;
  margin-bottom: 4px;
}


.mat-list-item-content {
  border-radius: 5px;
  margin: 0 8px;
}

.link-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 15px;
  height: 40px;
  border-radius: 10px;
  margin: 80px 60px;
  font-weight: bold;
  border: 2px solid black;




}

.link-btn:hover {
  background-color: #51b9c0;
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 15px;
  padding: 0px;
  border-radius: 10px;
  height: 40px;
  border: 2px solid black;

}

.mat-list-item:hover {
  color: #f2f5f7 ;
}

.mat-list-item:hover .mat-list-item-content {
  background: #2c3344;
}
