
<div class="container">
  <div class="row justify-content-center mt-1">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>{{headerTitle}}</span>


        </div>

        <div class="card-body">
          <form>

            <div class="form-group">
              <label for="basicamount">Basic amount:</label>
              <input type="number" id="basicamount" name="basicamount" [(ngModel)]="basicamount" class="form-control" placeholder="basic amount">
            </div>

            <div class="form-group">
              <label for="br1">Basic allowance1:</label>
              <input type="number" id="br1" name="br1" [(ngModel)]="br1"  class="form-control" placeholder="basic allowance1">
            </div>

            <div class="form-group">
              <label for="br2">Basic allowance2:</label>
              <input type="number" id="br2" name="br2" [(ngModel)]="br2"  class="form-control" placeholder="basic allowance2" >
            </div>

            <div class="form-group">
              <label for="depName">Department name:</label>
              <select id="depName" [(ngModel)]="depName"  name="depName" class="form-control" required>
                <option value="" selected disabled>Select a department</option>
                <option value="" selected>Select Department</option>
                <option value="Production">Production</option>
                <option value="Administration">Administration</option>
                <option value="Finance">Finance</option>
                <option value="Sales and Marketing">Sales and Marketing</option>
                <option value="Human Resource">Human Resource</option>
                <option value="Quality Assurance">Quality Assurance</option>
                <option value="Maintenance">Maintenance</option>
                <option value="Stores">Stores</option>
                <option value="Transport">Transport</option>
              </select>
            </div>


            <div class="form-group">
              <label for="gpass_amount">Getpass amount:</label>
              <input type="number" id="gpass_amount"  [(ngModel)]="gpass_amount"  name="gpass_amount"   class="form-control" placeholder="getpass amount" maxlength="10">
            </div>
            <div class="form-group">
              <label for="Initial_days">Initial days:</label>
              <input type="text" id="Initial_days"  [(ngModel)]="Initial_days"    name="Initial_days"   class="form-control" placeholder="initial days" maxlength="10">
            </div>

            <div class="form-group">
              <label for="noamount">Initial nopay amount:</label>
              <input type="number" id="noamount" name="nopay_amount"  [(ngModel)]="nopay_amount"  class="form-control" placeholder="initial nopay amount" maxlength="10">
            </div>

            <div class="form-group">
              <label for="jrole">Job role:</label>
              <select id="jrole" [(ngModel)]="job_role" name="role" class="form-control" required>
                <option value="" selected disabled>Select a role</option>
                <option value="Chairman">Chairman</option>
                <option value="Managing Director">Managing Director</option>
                <option value="Director">Director</option>
                <option value="Accountant">Accountant</option>
                <option value="Finance Manager">Finance Manager</option>
                <option value="Finance Executive">Finance Executive</option>
                <option value="Head of Marketing">Head of Marketing</option>
                <option value="National Sales Manager">National Sales Manager</option>
                <option value="Regional Manager">Regional Manager</option>
                <option value="Senior Marketing Executive">Senior Marketing Executive</option>

                <option value="Area Manager">Area Manager</option>
                <option value="Marketing Executive">Marketing Executive</option>
                <option value="Sales Representative">Sales Representative</option>
                <option value="Outlet cashier">Outlet cashier</option>
                <option value="HR Manager">HR Manager</option>
                <option value="HR Executive">HR Executive</option>
                <option value="Head of QA">Head of QA</option>
                <option value="QA Manager">QA Manager</option>
                <option value="QA Executive">QA Executive</option>
                <option value="Head of Production">Head of Production</option>

                <option value="Production Manager">Production Manager</option>
                <option value="Operation Manager">Operation Manager</option>
                <option value="Production Supervisor">Production Supervisor</option>
                <option value="Machine Operator">Machine Operator</option>
                <option value="Production Assistant">Production Assistant</option>
                <option value="Head of Maintenance">Head of Maintenance</option>
                <option value="Technician">Technician</option>
                <option value="Electrician">Electrician</option>
                <option value="Assistant">Assistant</option>
                <option value="Head of Stores">Head of Stores</option>

                <option value="Storekeeper">Storekeeper</option>
                <option value="Store Assistant">Store Assistant</option>
                <option value="Transport Manager">Transport Manager</option>
                <option value="Drivers">Drivers</option>
                <option value="Helpers">Helpers</option>
                <option value="Head of Security">Head of Security</option>
                <option value="Security Officer">Security Officer</option>
              </select>
            </div>


            <div class="form-group">
              <label for="ot_amount">Ot amount:</label>
              <input type="number" id="ot_amount" name="ot_amount"  [(ngModel)]="ot_amount"  class="form-control" placeholder="ot amount" maxlength="10">
            </div>

            <div class="form-group">
              <label for="salary_type">Salary type:</label>
              <select id="salary_type" [(ngModel)]="salary_type" name="salary_type" class="form-control" required>
                <option value="" selected disabled>Select a salary type</option>
                <option value="Production">Production</option>
                <option value="Store">Stores</option>
                <option value="Office staff">Office staff</option>
              </select>
            </div>


            <div class="form-group">
              <label for="section_name">Section name:</label>
              <select id="section_name" [(ngModel)]="section_name" name="section_name" class="form-control" required>
                <option value="" selected disabled>Select a section name</option>
                <option value="Bottle washing">Bottle washing</option>
                <option value="Yogurt section">Yogurt section</option>
                <option value="UHT">UHT</option>
                <option value="Packet">Packet</option>
                <option value="Ice cream">Ice cream</option>
                <option value="Milk taffy">Milk taffy</option>
                <option value="Administration">Administration</option>
                <option value="Finance">Finance</option>
                <option value="Sales and Marketing">Sales and Marketing</option>
                <option value="Human Resource">Human Resource</option>
                <option value="Quality Assurance">Quality Assurance</option>
                <option value="Maintenance">Maintenance</option>
                <option value="Stores">Stores</option>
                <option value="Transport">Transport</option>
              </select>
            </div>



            <div class="form-group">
              <label for="subsistant">Late hour amount</label>
              <input type="number" id="subsistant" name="subsistant"  [(ngModel)]="late_hours_amount"  class="form-control" placeholder="subsistant" maxlength="10">
            </div>


            <div class="form-group d-flex justify-content-center">
              <button type="button" (click)="back()" class="btn btn-secondary" id="clearButton">back</button>
              <button type="button" (click)="submitData($event)" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





