body {
  font-family: Arial, sans-serif;
}

.page__box {
  background-color: #ffffff;
  height: 800px;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #495057;
}

.parallel-div {
  display: flex;
  flex-direction: column;
  background-color: #f1eded;
  border-radius: 1px;
}

.custom-div {
  width: 100%;
  margin-bottom: 2px;
}

#div1 {
  height: 790px;
  background-color: #e8e0e0;
}

#div3 {
  margin-left: 3px;
  background-color: #cfcdcd;
  border-radius: 2%;
}

/* Media queries */

@media (max-width: 1000px) {
  .parallel-div {
    flex-direction: column;
  }

  .custom-div,
  .left-div {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .employee-profile-form {
    width: 80%; /* Adjust the width for medium-sized screens */
  }
}

@media (max-width: 576px) {
  .employee-profile-form {
    width: 90%; /* Adjust the width for smaller screens */
  }
}

@media (max-width: 400px) {
  .page__box {
    height: auto;
  }

  #div1{
    height: auto;
    color: black;
  }

  #div3 {
    height: auto;

  }
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background-color: #ffffff;
  border: 4px solid #21ef00;
  border-radius: 8px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  font-weight: bold;
  color: #000000;
  margin: 0 0 10px;
  font-size: 1.4em;
}

.card p {
  align-items: flex-end;
  color: #6e0505;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #eded7e;
}

