body {
  font-family: Arial, sans-serif;
}

.page__box {
  background-color: #ffffff;
  height: 800px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #9d9898;
}

.parallel-div {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.custom-div {
  width: 100%;
  margin-bottom: 2px;
}

#div1 {
  height: 300px;
  background-color: #ffffff;
}

#div2 {
  height: 488px;
  background-color: #ffffff;
}

#div3 {
  background-color: #b5abab;
  border-radius: 10px;
  height: 650px;
  margin-top: 30px;
}

.link-btn_1{
  background-color: #D9D9D9;
  color: #000000;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  padding: 0.5rem 2rem;
  margin-left: 10rem;
}

.link-btn_1:hover{
  background-color: #8de4f8;
  color: #ffffff;
}

.link-btn_2{
  background-color: #D9D9D9;
  color: #000000;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  padding: 0.5rem 3rem;
  margin-left: 8rem;
}

.link-btn_2:hover{
  background-color: #8de4f8;
  color: #ffffff;
}

.mat-divider {
  border-top-width: 2px;
  border-color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}


/* Media queries */

@media (max-width: 992px) {
  .parallel-div {
    flex-direction: column;
  }

  .custom-div,
  .left-div {
    width: 100%;
  }

  #div2 {
    height: 480px;
    padding-bottom: 485px;
  }
}

@media (max-width: 768px) {
  .left-div {
    height: 100%;
  }

  #div2 {
    height: 480px;
  }
}

@media (max-width: 480px) {
  .page__box {
    height: auto;
  }

  #div1,
  #div2,
  #div3 {
    height: auto;
  }
}
