

.chart-container {

  flex-direction: column;
  padding: 16px;
  background-color: #ffffff;
}
.chart-container-position{
  margin-top: 150px;
  margin-left: 40px;

}

.refreshbutton{
  margin-left: 580px;
}


