.container-fluid {

  padding-bottom: 30px;

}

.row {
  margin-bottom: 20px;
}

.bg-light {
  background-image: linear-gradient(
    to top,
    #ffffff 0%,
    #ffffff 25%,
    #dbf5fe 75%,
    #00acea 100%
  );
}

.bg-white {
  background-image: linear-gradient(to bottom, #ffffff, #37aad4);
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

#part1{
  margin-bottom: 40px;
}

#part2{
  margin-bottom: 60px;
}
p {
  font-size: 14px;
  color: #000000;
}

h4{
  color: #000000;

}

h6{
  color: #000000;

}

hr{
  height: 2px;
  background-color: #000;
  border: none;
  margin: 20px 0;
}

.icon{
  padding-right: 50px;
}

#showPasswordCheckbox{
  margin-bottom: 10px;
}
