
<div class="container-fluid col-10">
  <div class="row">
    <!-- Left part: Display image -->
    <div class="col-lg-7 bg-light p-6">
      <img src="assets\images\front.jpg" class="img-fluid" alt="Image">
    </div>

    <!-- Right part: Display login form -->
    <div class="col-lg-5 bg-white p-5">
      <div class="row">
        <div class="col-sm-12 text-end">
          <!-- Align "Sign In" button to the top right -->
          <button type="submit" (click)="userSignup()" class="btn btn-primary" id="part1">Sign up</button>
        </div>
      </div>
      <form>
        <div class="mb-5 row">
          <label for="username" class="col-sm-3 col-form-label"><b>Username:</b></label>
          <div class="col-sm-9">
            <input type="text" id="username" name="username" [(ngModel)]="inputusername" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Enter your username">
          </div>

        </div>
        <div class="mb-4 row">
          <label for="username" class="col-sm-3 col-form-label"><b>Password:</b></label>
          <div class="col-sm-9">

            <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" [(ngModel)]="inputpassword" class="form-control" placeholder="Enter your password">
            <!-- Checkbox to toggle password visibility -->
            <input type="checkbox" id="showPasswordCheckbox"  (change)="togglePasswordVisibility()">
            <label for="showPasswordCheckbox">Show Password</label>
          </div>
        </div>

        <div class="mb-3 row justify-content-end">
          <label for="password" class="forget-pw text-end col-sm-9"><a [routerLink]="['/passwordreset']">Forget Password?</a></label>
        </div>
        <div class="row">
          <div class="col-sm-8 offset-sm-5">
            <button type="submit" (click)="userLogin()" class="btn btn-primary">Sign In</button>
          </div>
        </div>
        <div class="text-center text-muted" id="part2">
          <h4>HR & PRODUCTION MANAGEMENT</h4>
        </div>
      </form>
      <div class="text-center text-muted">

        <div class="row mt-3">
          <!-- First div for address -->
          <div class="col-sm-4">
            <h6>addess</h6>
            <p> Bibulewela, Karagoda, Uyangoda, Pahala Vitiyala</p>
          </div>
          <!-- Second div for text -->
          <div class="col-sm-4">

            <mat-icon class="icon">facebook</mat-icon>
            <mat-icon>mail</mat-icon>



          </div>

          <div class="col-sm-4">
            <h6>contact details</h6>

            <p>Phone: 075 511 7117</p>
          </div>
        </div>
        <hr>
        <div class="text-center text-muted mt-3">
         <p>&copy; 2024 Lucky Lanka PLC</p>
        </div>
      </div>
    </div>
  </div>
</div>
