
<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">
    <div class="leave-and-medical-details">

      <div class="detail-section">
    <span class="icon">
      <button class="btn-1">
        <img src="../../../assets/images/medical (2).png" alt="Medical Logo" />
      </button>
    </span>
        <br><br>
        <span class="text">
      <button class="btn"><b>Medical Details</b></button>
    </span>
      </div>

      <mat-divider></mat-divider>

      <div class="detail-section">
    <span class="icon">
      <button class="btn-2">
        <img src="../../../assets/images/exit.png" alt="Leave Logo" />
      </button>
    </span>
        <br><br>
        <span class="text">
          <button class="btn"><b> Leaving Details </b> </button>
    </span>
      </div>

    </div>

  </div>

  <div class="left-div col-3 text-right" id="div3">Div</div>
</div>

