
<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">

    <div class="leave-and-medical-details" *ngIf="!isLeaveVisible && !isMedicalVisible">

      <div class="detail-section">

    <span class="icon">
      <button class="btn-1" (click)="swaptoMedical()">
        <img src="../../../assets/images/medical (2).png" alt="Medical Logo" />
      </button>
    </span>
        <br>
        <span class="text">
      <button class="btn" (click)="swaptoMedical()"><b>Medical Details</b></button>
    </span>
      </div>






      <mat-divider></mat-divider>





      <div class="detail-section">

    <span class="icon">
      <button class="btn-2" (click)="swaptoLeave()">
        <img src="../../../assets/images/leave.png" alt="Leave Logo" />
      </button>
    </span>
        <br>
        <span class="text">
          <button class="btn" (click)="swaptoLeave()"><b> Leaving Details </b> </button>
    </span>

      </div>

    </div>





    <div class="medical-details" *ngIf="isMedicalVisible">


      <button class="backbtn" (click)="swaptoMedical()"><b> Back </b> </button>

      <br><h2>Employee Medical Details</h2><br>

      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search...">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>



      <!-- Inside hrm-leave-details.component.html -->
      <mat-table [dataSource]="DataSource" class="mat-elevation-z8"><br><br>

        <!-- Employee ID Column -->
        <ng-container matColumnDef="employeeId">
          <th mat-header-cell *matHeaderCellDef> Employee ID </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
        </ng-container>

        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef> Employee Name </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef> Department </th>
          <td mat-cell *matCellDef="let element"> {{element.department}} </td>
        </ng-container>

        <ng-container matColumnDef="medicalreport">
          <th mat-header-cell *matHeaderCellDef> Medical Report </th>
          <td mat-cell *matCellDef="let element"> {{element.medicalreport}} </td>
        </ng-container>

        <ng-container matColumnDef="approvalState">
          <th mat-header-cell *matHeaderCellDef> Approval State </th>
          <td mat-cell *matCellDef="let element"> {{element.approvalState}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
      </mat-table>
      <div class="page">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
      </div>

    </div>





    <div class="leave-details" *ngIf="isLeaveVisible">


      <button class="backbtn" (click)="swaptoLeave()"><b> Back </b> </button>

      <br><h2>Employee Leave Details</h2><br>

      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search...">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <!-- Inside hrm-leave-details.component.html -->
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8"><br><br>

        <!-- Employee ID Column -->
        <ng-container matColumnDef="employeeId">
          <th mat-header-cell *matHeaderCellDef> Employee ID </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
        </ng-container>

        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef> Employee Name </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef> Department </th>
          <td mat-cell *matCellDef="let element"> {{element.department}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef> Reason </th>
          <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
        </ng-container>

        <ng-container matColumnDef="approvalState">
          <th mat-header-cell *matHeaderCellDef> Approval State </th>
          <td mat-cell *matCellDef="let element"> {{element.approvalState}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>

    <div class="page">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>

    </div>

  </div>

  <mat-divider></mat-divider>

  <div class="left-div col-3 text-right" id="div3">
    Div
  </div>
</div>

