<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">
    <div class="emptysection-container" *ngIf="!isAddDetailsVisible && !isUpdateVisible">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="toggleAddDetails()">Add Details</button>
        <button mat-raised-button color="primary" (click)="toggleUpdate()">Update Changes</button>
      </div>
      <div class="mat-table-container">

        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Empty Unit ID Column -->
          <ng-container matColumnDef="empty_unit_id">
            <mat-header-cell *matHeaderCellDef> Empty Unit ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.empty_unit_id }} </mat-cell>
          </ng-container>

          <!-- Empty Bottles Column -->
          <ng-container matColumnDef="empty_bottles">
            <mat-header-cell *matHeaderCellDef> Empty Bottles </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.empty_bottles }} </mat-cell>
          </ng-container>

          <!-- Damage Bottles Column -->
          <ng-container matColumnDef="damage_bottles">
            <mat-header-cell *matHeaderCellDef> Damage Bottles </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.damage_bottles }} </mat-cell>
          </ng-container>

          <!-- For Washing Column -->
          <ng-container matColumnDef="for_washing">
            <mat-header-cell *matHeaderCellDef> For Washing </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.for_washing }} </mat-cell>
          </ng-container>

          <!-- Submit Date Column -->
          <ng-container matColumnDef="submit_date">
            <mat-header-cell *matHeaderCellDef> Submit Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.submit_date | date }} </mat-cell>
          </ng-container>

          <!-- Submit Time Column -->
          <ng-container matColumnDef="submit_time">
            <mat-header-cell *matHeaderCellDef> Submit Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.submit_time }}  </mat-cell>
          </ng-container>

          <!-- Row Definitions -->
          <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   [class.highlighted]="row === selectedRow"
                   (click)="selectRow(row)"></mat-row>

        </mat-table>
      </div>
    </div>

    <!-- show the daily empty bottles add details form -->
    <div class="add-details-container" *ngIf="isAddDetailsVisible">
      <button mat-raised-button class="close-button" color="warn" (click)="toggleAddDetails()">Close</button>

      <!-- Add empty bottle details -->
      <form class="details-form" name="addDailyEmpty">
        <h2>Daily Empty Bottles Details Entry Form</h2>

        <label for="emptyBottles">Number Of Total Empty Milk Bottles:</label>
        <input type="number" id="emptyBottles" name="emptyBottles" required>

        <label for="damagedBottles">Number Of Damage Empty Bottles:</label>
        <input type="number" id="damagedBottles" name="damagedBottles" required>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <div class="form-buttons">
          <button mat-raised-button color="accent" (click)="clearemptybottleform()">Clear</button>
          <button mat-raised-button color="primary" type="submit" (click)="submitDailyEmpty()">Submit</button>
        </div>
      </form>
    </div>

    <!-- show the update details form-->
    <div class="update-container" *ngIf="isUpdateVisible">
      <button mat-raised-button class="close-button" color="warn" (click)="toggleUpdate()">Close</button>

      <form class="details-form" [formGroup]="updateForm">
        <h2>Update Empty Bottles Changes</h2>

        <label for="emptyBottlesupdate">ID :</label>
        <input type="number" id="emptyBottlesupdateId" formControlName="emptyBottlesupdateId" required>

        <label for="emptyBottlesupdate">Number Of Total Empty Milk Bottles:</label>
        <input type="number" id="emptyBottlesupdate" formControlName="emptyBottlesupdate" required>

        <label for="damagedBottlesupdate">Number Of Damage Empty Bottles:</label>
        <input type="number" id="damagedBottlesupdate" formControlName="damagedBottlesupdate" required>

        <div class="form-buttons">
          <button mat-raised-button color="accent">Clear</button>
          <button mat-raised-button color="primary" type="submit" (click)="updateChanges()">Submit</button>
        </div>
      </form>

    </div>
  </div>

  <div class="left-div col-3 text-right" id="div3"></div>

</div>
