<div class="d-flex page__box p-1 mt-0">
  <div class="parallel-div col-9">
    <div class="container" *ngIf="!isCreateUser && !isDeleteUser">

      <mat-form-field appearance="fill">
        <mat-label>Search by Employee ID</mat-label>
        <input matInput placeholder="Search by Employee ID" (input)="applyFilter($event)">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>


      <div class="button-container">
        <button mat-raised-button color="primary" (click)="swaptoCreateUser()">Create New User</button>
        <button mat-raised-button [color]="selectedRow ? 'accent' : 'primary'" (click)="swaptoDeleteUser()">Delete User</button>
      </div>

      <div class="table-container mat-elevation-z8">

        <mat-table [dataSource]="dataSourceUser" class="mat-elevation-z8">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
          </ng-container>

          <!-- Username Column -->
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
          </ng-container>

          <!-- Contact Column -->
          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.contact}} </mat-cell>
          </ng-container>

          <!-- Roles Column -->
          <ng-container matColumnDef="roles">
            <mat-header-cell *matHeaderCellDef> Roles </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.roles}} </mat-cell>
          </ng-container>

          <!-- Employee Column -->
          <ng-container matColumnDef="employee">
            <mat-header-cell *matHeaderCellDef> Employee </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.employee}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   [class.highlighted]="row === selectedRow"
                   (click)="selectRow(row)"></mat-row>
        </mat-table>
      </div>
    </div>

    <div *ngIf="isCreateUser" class="details-container">

      <button mat-raised-button  color="warn" (click)="swaptoCreateUser()">Close</button>

      <form class="details-form" >
        <h2>Register New System User Account</h2>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" required>

        <label for="roles">Roles:</label>
        <select id="roles"  name="roles" required>
          <option value="" selected disabled>Select a role</option>
          <option value="Accountant">Accountant</option>
          <option value="Production_Manager">Production_Manager</option>
          <option value="Store_Keeper">Store_Keeper</option>
          <option value="HR_Manager">Store_Keeper</option>
        </select>

        <label for="employee">Employee:</label>
        <input type="text" id="employee" name="employee" required>

        <div class="form-buttons">
          <button mat-raised-button color="accent" type="button">Clear</button>
          <button mat-raised-button color="primary" type="submit" (click)="registerNewUser()">Register</button>
        </div>
      </form>

    </div>


    <div *ngIf="isDeleteUser"  class="details-container">
      <button mat-raised-button color="warn" (click)="swaptoDeleteUser()">Close</button>
      <form class="details-form" [formGroup]="deleteUserGroup">
        <h2>Delete User Details</h2>

        <label for="user_id">User ID:</label>
        <input type="number" id="user_id" formControlName="user_id" required>

        <label for="user_name">Username:</label>
        <input type="text" id="user_name" formControlName="user_name" required>

        <label for="empID">Employee ID:</label>
        <input type="text"  id="empID" formControlName="empID" required>

        <label for="user_email">Email:</label>
        <input type="text" id="user_email" formControlName="user_email" required>

        <label for="role">User Role:</label>
        <input type="text" id="role" formControlName="role" required>

        <label for="contactNum">Contact number:</label>
        <input type="text" id="contactNum" formControlName="contactNum" required>

        <div class="form-row">
          <label for="reason_status">Reason:</label>
          <textarea id="reason_status" formControlName="reason_status" rows="3" cols="50" required></textarea>
        </div>

        <div class="form-buttons">
          <button mat-raised-button color="accent" (click)="clearData()">Clear</button>
          <button mat-raised-button color="primary" type="submit" (click)="deleteUser()">Delete</button>
        </div>
      </form>
    </div>

  </div>

  <div class="left-div col-3 text-right" id="div3">
    <app-notificationcom></app-notificationcom>
  </div>
</div>
