<!-- Payroll Management Details Section -->
<div class="d-flex page__box p-1 mt-0">
  <div class="card" style="width:100%">
    <h3 class="m-3 text-center">ADVANCE</h3>
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="search-bar d-flex align-items-center">
        <b>Search details :</b>
        <div class="form-group">
          <select   [(ngModel)]="selectedDepartment" class="form-control" (change)="filterByDepartment()" required>
            <option value="" selected disabled>Select a department</option>
            <option value="Financial">Financial </option>
            <option value="Human resources">Human resources</option>
            <option value="Sels markating">Sels and marketing</option>
            <option value="Administration">Administration</option>
            <option value="Quality assurance">Quality assurance</option>
            <option value="Production">Production</option>
            <option value="All">All</option>
          </select>
        </div>
      </div>
      <div class="btn-group">
        <a class="btn btn-primary" (click)="Back()">Back</a>
      </div>
    </div>
    <div class="card-body">
      <!-- Existing Table -->
      <div class="card-body">
        <!-- Existing Table -->
        <table datatable class="table table-bordered">
          <thead class="bg-dark text-white">
          <tr>
            <td>Employee ID</td>
            <td>Amount</td>
            <td>Reson</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of advancedata">
            <td>{{ item.emp_id }}</td>
            <td>Rs.{{ item.amount }}</td>
            <td>{{ item.reson }}</td>
            <td>{{ item.status }}</td>
            <td style="white-space: nowrap;">
              <a class="btn btn-primary" (click)="Update(item.advance_salary_id)">Update</a>
              <a class="btn btn-danger" (click)="Delete(item.advance_salary_id)">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>







