<div class="notification-box">
  <div class="time-display" [innerHTML]="currentTime"></div>


  <div class="notifications">
    <hr style="border: 2px solid black; font-weight: bold;">
    <div class="notices">

    </div>

  </div>

  <hr style="border: 2px solid black; font-weight: bold;">

  <button class="clear-btn" (click)="clearNotifications()">Clear Notification</button>



  <div class="birthday-notifications">
    <button class="birthday-btn" (click)="showBirthdayList()">Today's Birthdays</button>
    <button class="birthday-btn" (click)="showUpcomingBirthdayList()">Upcoming Birthdays</button>
  </div>
</div>

<div class="popup" *ngIf="isBirthdayListVisible">
  <div class="popup-content">
    <span class="close-btn" (click)="hideBirthdayList()">&times;</span>
    <h1 style="text-align: center;"><b>Today's Birthdays</b></h1>
    <div class="employee-cards">
      <div class="employee-card" *ngFor="let employee of employees">
        <img [src]="employee.gender === 'male' ? imageUrlMale : imageUrlFemale">
        <h3><b>Employee ID :</b> {{employee.employee_id}}</h3>
        <h3><b>Name :</b> {{ employee.employee_name }}</h3>
        <p><b>Department :</b> {{ employee.dep_id }}</p>
        <p><b>Section :</b> {{ employee.sec_id }}</p>
        <p><b>Job Position:</b> {{ employee.job_role }}</p>
      </div>
    </div>
  </div>
</div>


<div class="popup" *ngIf="isBirthdayListVisible2">
  <div class="popup-content">
    <span class="close-btn" (click)="hideBirthdayList2()">&times;</span>
    <h1 style="text-align: center;"><b>Upcoming Birthdays</b></h1>
    <div class="employee-table">
      <table>
        <thead>
        <tr>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Date of Birth</th>
          <th>Department</th>
          <th>Section</th>
          <th>Job Position</th>
          <th>Birth Day</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of upcomingBirthdays">
          <td>{{ employee.employee_id }}</td>
          <td>{{ employee.employee_name }}</td>
          <td>{{ employee.dob | date: 'mediumDate' }}</td>
          <td>{{ employee.dep_id }}</td>
          <td>{{ employee.sec_id }}</td>
          <td>{{ employee.job_role }}</td>
          <td [ngClass]="getBirthdayStatusColor(employee.dob)"><b>{{ getBirthdayStatus(employee.dob) }}</b></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
