<div class="d-flex page__box p-1 mt-0" *ngIf="isVisible1">
  <h1><u>MANAGE SALARY SECTION</u></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4" (click)="card1()">
          <div class="card-body">
            <img src="assets/images/payroll.webp" alt="Employee Daily Payroll Image">
            <h5 class="card-title">EMPLOYEE DAILY PAYROLL</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" (click)="card2()">
          <div class="card-body">
            <img src="assets/images/assesement.webp" alt="Salary Assessment Image">
            <h5 class="card-title">SALARY ASSESSMENT</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" (click)="card3()">
          <div class="card-body">
            <img src="assets/images/monthlysalary.webp" alt="Employee Monthly Salary Image">
            <h5 class="card-title">EMPLOYEE MONTHLY SALARY</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3" (click)="card4()">
          <div class="card-body">
            <img src="assets/images/loan.webp" alt="Loan Image">
            <h5 class="card-title">LOAN</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" (click)="card9()">
          <div class="card-body">
            <img src="assets/images/advance.webp" alt="Salary Advance Image">
            <h5 class="card-title">SALARY ADVANCE</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex page__box p-1 mt-0" *ngIf="isVisible2" id="box2">
  <h1><u>SALARY ASSESSMENT</u></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3" (click)="card5()">
          <div class="card-body">
            <img src="assets/images/bsalary.webp" alt="Basic Salary Image">
            <h5 class="card-title">BASIC SALARY</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" (click)="card6()">
          <div class="card-body">
            <img src="assets/images/deduction.webp" alt="Deduction Image">
            <h5 class="card-title">DEDUCTION</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3" (click)="card7()">
          <div class="card-body">
            <img src="assets/images/allowances.webp" alt="Allowances Image">
            <h5 class="card-title">ALLOWANCES</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3" (click)="card8()">
          <div class="card-body">
            <img src="assets/images/back.webp" alt="Back Image">
            <h5 class="card-title">BACK</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
