<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">
    <div class="washsection-container" *ngIf="!isAddDetailsVisible && !isUpdateVisible">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="toggleAddDetails()">Add Details</button>
        <button mat-raised-button color="primary" (click)="toggleUpdate()">Update Changes</button>
      </div>
      <div class="mat-table-container">

        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Employee ID -->
          <ng-container matColumnDef="daily_damage_id">
            <mat-header-cell *matHeaderCellDef> Damage ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.daily_damage_id }} </mat-cell>
          </ng-container>

          <!-- Employee Name -->
          <ng-container matColumnDef="damage_amount">
            <mat-header-cell *matHeaderCellDef> Damage Amount </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.damage_amount }} </mat-cell>
          </ng-container>

          <!-- Damage Bottles Column -->
          <ng-container matColumnDef="employee_id">
            <mat-header-cell *matHeaderCellDef> Employee ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.employee_id}} </mat-cell>
          </ng-container>

          <!-- Submit Date Column -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Submit Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.date | date }} </mat-cell>
          </ng-container>

          <!-- Row Definitions -->
          <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"
                   [class.highlighted]="row === selectedRow"
                   (click)="selectRow(row)"></mat-row>

        </mat-table>
      </div>
    </div>

    <!-- show the add details form -->
    <div class="add-details-container" *ngIf="isAddDetailsVisible">
      <button mat-raised-button class="close-button" color="warn" (click)="toggleAddDetails()">Close</button>

      <!-- Add damage bottle details -->
      <form class="details-form" name="addDailyDamages">
        <h2>Add damages caused by employees</h2>

        <label for="add_employee_id">Employee ID:</label>
        <input type="text" id="add_employee_id" name="add_employee_id" required placeholder="ETFxxxxx">


        <label for="add_damage_amount">Number Of Damage Empty Bottles:</label>
        <input type="number" id="add_damage_amount" name="add_damage_amount" required>

        <label for="add_date">Date:</label>
        <input type="date" id="add_date" name="add_date" required>

        <div class="form-buttons">
          <button mat-raised-button color="accent">Clear</button>
          <button mat-raised-button color="primary" type="submit" (click)="submitDailyDamages()">Submit</button>
        </div>
      </form>
    </div>

    <!-- show the update details form-->
    <div class="update-container" *ngIf="isUpdateVisible">
      <button mat-raised-button class="close-button" color="warn" (click)="toggleUpdate()">Close</button>

      <form class="details-form" [formGroup]="updateForm">
        <h2>Update  damage changes caused by employees</h2>

        <label for="daily_damage_id">Damage ID:</label>
        <input type="number" id="daily_damage_id" formControlName="daily_damage_id" required>

        <label for="employee_id">Employee ID:</label>
        <input type="text" id="employee_id" formControlName="employee_id" required>

        <label for="damage_amount">Number Of Damage Empty Bottles:</label>
        <input type="number" id="damage_amount" formControlName="damage_amount" required>

        <div class="form-buttons">
          <button mat-raised-button color="accent">Clear</button>
          <button mat-raised-button color="primary" type="submit" (click)="damageupdateChanges()">Submit</button>
        </div>
      </form>

    </div>
  </div>

  <div class="left-div col-3 text-right" id="div3">

  </div>

</div>


