
<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">

    <button class="backbtn" (click)="swaptoDashboad()"><b> Back </b> </button>

      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search...">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>


      <mat-table [dataSource]="dataSource" class="mat-elevation-z8"><br><br>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="employeeId">
          <th mat-header-cell *matHeaderCellDef> Employee ID </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
        </ng-container>

        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef> Employee Name </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
        </ng-container>

        <ng-container matColumnDef="inTime">
          <th mat-header-cell *matHeaderCellDef> In Time </th>
          <td mat-cell *matCellDef="let element"> {{element.inTime}} </td>
        </ng-container>

        <ng-container matColumnDef="outTime">
          <th mat-header-cell *matHeaderCellDef> Out Time </th>
          <td mat-cell *matCellDef="let element"> {{element.outTime}} </td>
        </ng-container>

        <ng-container matColumnDef="present">
          <th mat-header-cell *matHeaderCellDef> Present </th>
          <td mat-cell *matCellDef="let element"> {{element.present}} </td>
        </ng-container>

        <ng-container matColumnDef="absent">
          <th mat-header-cell *matHeaderCellDef> Absent </th>
          <td mat-cell *matCellDef="let element"> {{element.absent}} </td>
        </ng-container>

        <ng-container matColumnDef="late">
          <th mat-header-cell *matHeaderCellDef> Late </th>
          <td mat-cell *matCellDef="let element"> {{element.late}} </td>
        </ng-container>

        <ng-container matColumnDef="attendanceStatus">
          <th mat-header-cell *matHeaderCellDef> Attendance Status </th>
          <td mat-cell *matCellDef="let element"> {{element.attendanceStatus}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>


  <mat-divider></mat-divider>
</div>
  <div class="left-div col-3 text-right" id="div3">
    Div
  </div>
</div>
