
<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">

    <div>
    <h2>Employee Attendance</h2><br>
      <mat-form-field appearance="fill" class="search-container">
        <mat-label>Search</mat-label>
<!--        <input matInput placeholder="Search..." (keyup)="applyFilter($event.target.value)" >-->
        <input matInput placeholder="Search...">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8"><br>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="employeeId">
          <th mat-header-cell *matHeaderCellDef> Employee ID </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
        </ng-container>

        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef> Employee Name </th>
          <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
        </ng-container>

        <ng-container matColumnDef="inTime">
          <th mat-header-cell *matHeaderCellDef> In Time </th>
          <td mat-cell *matCellDef="let element"> {{element.inTime}} </td>
        </ng-container>

        <ng-container matColumnDef="outTime">
          <th mat-header-cell *matHeaderCellDef> Out Time </th>
          <td mat-cell *matCellDef="let element"> {{element.outTime}} </td>
        </ng-container>

        <ng-container matColumnDef="attendanceStatus">
          <th mat-header-cell *matHeaderCellDef> Attendance Status </th>
          <td mat-cell *matCellDef="let element"> {{element.attendanceStatus}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>

</div>
  <div class="left-div col-3 text-right" id="div3">
    <app-notificationcom></app-notificationcom>
  </div>
</div>
