
<div class="container">
  <div class="row justify-content-center mt-1">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <span>{{headerTitle}}</span>

        </div>

        <div class="card-body">
          <form>

            <div class="form-group">
              <label for="deduction_amount">Deduction Amount:</label>
              <input type="number" id="deduction_amount" name="deduction_amount" [(ngModel)]="deductionamount" class="form-control" placeholder="deduction amount">
            </div>


            <div class="form-group">
              <label for="deduction_type">Deduction Type:</label>
              <select id="deduction_type" [(ngModel)]="deduction_type" name="deduction_type" class="form-control" required>
                <option value="" selected disabled>Select a deduction type</option>
                <option value="No pay Cut">No pay Cut</option>
                <option value="Gate Pass">Gate Pass</option>
                <option value="Welfare Deduction">Welfare Deduction</option>
                <option value="Telephone Deduction">Telephone Deduction</option>
                <option value="Meals Allowances Amount">Meals Allowances Amount</option>
                <option value="Income tax deduction">Income tax deduction</option>
                <option value="Salary Advance">Salary Advance</option>
                <option value="Last month salary deduction">Last month salary deduction</option>
                <option value="Canteen deduction">Canteen deduction</option>
                <option value="EPF">EPF</option>
                <option value="Batch Allowance Deduction">Batch Allowance Deduction</option>
                <option value="Worm egg bottles Deduction">Worm egg bottles Deduction</option>
                <option value="Bottle Cut Amount">Bottle Cut Amount</option>
              </select>
            </div>




            <div class="form-group">
              <label for="depName">Department name:</label>
              <select id="depName" [(ngModel)]="depName"  name="depName" class="form-control" required>
                <option value="" selected disabled>Select a department</option>
                <option value="DEP01">Production</option>
                <option value="DEP02">Administration</option>
                <option value="DEP03">Finance</option>
                <option value="DEP04">Sales and Marketing</option>
                <option value="DEP05">Human Resource</option>
                <option value="DEP06">Quality Assurance</option>
                <option value="DEP07">Maintenance</option>
                <option value="DEP08">Stores</option>
                <option value="DEP09">Transport</option>
              </select>
            </div>

            <div class="form-group">
              <label for="jrole">Job role:</label>
              <select id="jrole" [(ngModel)]="job_role" name="role" class="form-control" required>
                <option value="" selected disabled>Select a role</option>
                <option value="Chairman">Chairman</option>
                <option value="Managing Director">Managing Director</option>
                <option value="Director">Director</option>
                <option value="Accountant">Accountant</option>
                <option value="Finance Manager">Finance Manager</option>
                <option value="Finance Executive">Finance Executive</option>
                <option value="Head of Marketing">Head of Marketing</option>
                <option value="National Sales Manager">National Sales Manager</option>
                <option value="Regional Manager">Regional Manager</option>
                <option value="Senior Marketing Executive">Senior Marketing Executive</option>

                <option value="Area Manager">Area Manager</option>
                <option value="Marketing Executive">Marketing Executive</option>
                <option value="Sales Representative">Sales Representative</option>
                <option value="Outlet cashier">Outlet cashier</option>
                <option value="HR Manager">HR Manager</option>
                <option value="HR Executive">HR Executive</option>
                <option value="Head of QA">Head of QA</option>
                <option value="QA Manager">QA Manager</option>
                <option value="QA Executive">QA Executive</option>
                <option value="Head of Production">Head of Production</option>

                <option value="Production Manager">Production Manager</option>
                <option value="Operation Manager">Operation Manager</option>
                <option value="Production Supervisor">Production Supervisor</option>
                <option value="Machine Operator">Machine Operator</option>
                <option value="Production Assistant">Production Assistant</option>
                <option value="Head of Maintenance">Head of Maintenance</option>
                <option value="Technician">Technician</option>
                <option value="Electrician">Electrician</option>
                <option value="Assistant">Assistant</option>
                <option value="Head of Stores">Head of Stores</option>

                <option value="Storekeeper">Storekeeper</option>
                <option value="Store Assistant">Store Assistant</option>
                <option value="Transport Manager">Transport Manager</option>
                <option value="Drivers">Drivers</option>
                <option value="Helpers">Helpers</option>
                <option value="Head of Security">Head of Security</option>
                <option value="Security Officer">Security Officer</option>
              </select>
            </div>

            <div class="form-group">
              <label for="salary_type">Salary type:</label>
              <select id="salary_type" [(ngModel)]="salary_type" name="salary_type" class="form-control" required>
                <option value="" selected disabled>Select a salary type</option>
                <option value="Production">Production</option>
                <option value="Store">Stores</option>
                <option value="Office staff">Office staff</option>
              </select>
            </div>

            <div class="form-group">
              <label for="section_name">Section name:</label>
              <select id="section_name" [(ngModel)]="section_name" name="section_name" class="form-control" required>
                <option value="" selected disabled>Select a section name</option>
                <option value="SEC01">Bottle washing</option>
                <option value="SEC02">Yogurt section</option>
                <option value="SEC03">UHT</option>
                <option value="SEC04">Packet</option>
                <option value="SEC05">Ice cream</option>
                <option value="SEC06">Milk taffy</option>
              </select>
            </div>

            <div class="form-group d-flex justify-content-center">
              <button type="button" (click)="back()" class="btn btn-secondary" id="clearButton">back</button>
              <button type="button" (click)="submitData($event)" class="btn btn-primary">Submit</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




