body {
  font-family: Arial, sans-serif;
}

.page__box {
  background-color: #ffffff;
  height: 800px;
  border-radius: 1px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #495057;
}

.parallel-div {
  display: flex;
  flex-direction: column;
  background-color: #f1eded;
  border-radius: 1px;
}

.custom-div {
  width: 100%;
  margin-bottom: 2px;
}

#div1 {
  height: 790px;
  background-color: #e8e0e0;
}

#div3 {
  margin-left: 3px;
  background-color: #9d9898;
  border-radius: 2%;
}

/* Media queries */

@media (max-width: 1000px) {
  .parallel-div {
    flex-direction: column;
  }

  .custom-div,
  .left-div {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .left-div {
    height: 100%;
  }
}

@media (max-width: 400px) {
  .page__box {
    height: auto;
  }

  #div1{
    height: auto;
    color: black;
  }

  #div3 {
    height: auto;

  }
}
.employee-profile-container {
  max-width: 600px;
  margin: auto;
  background-color: #51b9c0; /* Change as per your theme */
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.profile-icon {
   /* Profile icon background */
  border-radius: 50%;
  padding: 10px;
  color: #111111;
  font-size: 48px; /* Adjust as needed */
}
.employee-profile-container{
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  height: 100vh;
}
.employee-profile-form{
  width: 300px; /* Set a fixed width for the form */
  padding: 20px;

  border-radius: 5px;

}
.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

button {
  margin-right: 8px;
}


.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  margin-bottom: 10px; /* Add or adjust margin-bottom property */
}

.mat-form-field {
  width: 100%;
  margin: 20px; /* Adjust margin property */
  margin-top: 0; /* Reset top margin */
}

.mat-form-field .mat-form-field-label {
  font-size: 12px; /* Adjust font size of the label */
  display: block;
  font-weight: bold;
}

.mat-form-field .mat-input-element {
  height: 25px; /* Adjust input field height */
    width: calc(100% - 10px); /* Adjust width to account for padding */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

