

<div class="d-flex page__box p-1 mt-0">

  <div class="parallel-div col-9">
    <div class="employee-profile-container">
      <form class="employee-profile-form">

        <!-- Profile image on the right -->
        <div class="profile-header">
          <mat-icon class="profile-icon">person</mat-icon>
        </div>

        <!-- Form fields -->
        <div class="form-fields">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Employee ID</mat-label>
            <input matInput placeholder="Employee ID">
          </mat-form-field>
        </div>
          <div class="form-fields">
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Age</mat-label>
              <input matInput placeholder="Age">
            </mat-form-field>
          </div>

        <div class="form-fields">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address">
          </mat-form-field>
        </div>
        <div class="form-fields">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Married/Unmarried</mat-label>
            <mat-select>
              <mat-option value="married">Married</mat-option>
              <mat-option value="unmarried">Unmarried</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name">
          </mat-form-field>
        </div>
        <div class="form-fields">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Department</mat-label>
            <input matInput placeholder="Department">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <input matInput [matDatepicker]="datepicker" placeholder="Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-fields">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Section</mat-label>
            <input matInput placeholder="Section">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Gender</mat-label>
            <input matInput placeholder="Gender">
            <mat-select>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-fields">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Occupation</mat-label>
            <input matInput placeholder="Occupation">
          </mat-form-field>
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Contact No</mat-label>
            <input matInput placeholder="Contact No">
          </mat-form-field>
        </div>
            <!-- Place this form field and the rest in a similar fashion -->


          <!-- Action buttons -->
          <div class="form-actions">
            <button mat-raised-button color="primary">Back</button>
            <button mat-raised-button color="accent">Update</button>
          </div>

      </form>
    </div>
  </div>
  <div class="left-div col-3 text-right" id="div3">Div</div>

</div>



